# Installation options
# These are the fields the user enters in the Codychat installation screen.
# installer.php will be automatically called on container start.

LICENSE_KEY=

# Database information
# A MariaDB instance will be auto-created with these credentials on container start.
DB_ROOT_PASSWORD=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Site information

# Absolute path to your chat installation
# (ex, https://www.mychat.com/chat).
# Must NOT end with /
CHAT_URL=

# Sets the <title>
CHAT_TITLE=

CHAT_LANGUAGE=

# Default owner account
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

